/* import merriweather font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

body {
    font-family: "Merriweather", serif;
}

.banner {
    background-image: url("./img/Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}

.banner h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 200px;
}

.banner h1 {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.discount-offer {
    text-align: center;
}

.discount-offer h1 {
    color: #f00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.discount-offer h4 {
    color: #f00;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.discount-offer h2 {
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.discount-offer img {
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
}