/* import merriweather font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

body {
    font-family: "Merriweather", serif;
}

.banner {
    background-image: url("./img/Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}

.banner h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 200px;
}

.banner h1 {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.discount-offer {
    text-align: center;
}

.discount-offer h1 {
    color: #f00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.discount-offer h4 {
    color: #f00;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.discount-offer h2 {
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.discount-offer img {
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
}

.party-section {
    background-image: url("./img/Vectorrr.png");
    width: 1320px;
    height: 600px;
}

.party-section h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.party-section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.party-text {
    color: #fff;
    margin-left: 126px;
    padding-top: 126px;
}
.address {
    width: 1320px;
    height: 480px;
    text-align: center;
    margin-top: 120px;
    background: linear-gradient(
       180deg,
       rgba(255, 0, 0, 0.1) 0%,
       rgba(255, 0, 0, 0) 100%
    );
 }
 
 .address h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
 }
 
 .address .first {
    padding-top: 100px;
 }
 
 .address span {
    color: #f00;
 }
 
 .address button {
    color: white;
    padding: 10px 32px;
    background-color: #f00;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
 }