/* import merriweather font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

body {
    font-family: "Merriweather", serif;
    margin: 0px 100px;
}

.banner {
    background-image: url("./img/Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}

.banner h3 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 200px;
}

.banner h1 {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.discount-offer {
    text-align: center;
}

.discount-offer h1 {
    color: #f00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.discount-offer h4 {
    color: #f00;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.discount-offer h2 {
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.discount-offer img {
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
}

.party-section {
    background-image: url("./img/Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin-top: 80px;
}

.party-section h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.party-section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.party-text {
    color: #fff;
    margin-left: 126px;
    padding-top: 126px;
    display: flex;
    justify-content: space-between;
}
  .new{
    margin-right: 20px;
  }

.party-text button {
    border: none;
    background: none;
}

.address {
    width: 1320px;
    height: 480px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    background: linear-gradient(180deg,
            rgba(255, 0, 0, 0.1) 0%,
            rgba(255, 0, 0, 0) 100%);
}

.address h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.address .first {
    padding-top: 100px;
}

.address span {
    color: #f00;
}

.address button {
    color: white;
    padding: 10px 32px;
    background-color: #f00;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}

.best-offer-section {
    width: 1320px;
    height: 480px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.left-section h3 {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}

.left-section h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.left-section p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.middle-section {
    width: 463px;
    height: 463px;
    border: 15px;
    border-color: #f00;
}

.right-section h2 {
    color: #f00;
    font-size: 48px;
    font-weight: 700;
}

.right-section p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.prize-section {
    position: relative;
}

.prize-section img {
    position: absolute;
    bottom: -40px;
}

.img-section {
    display: flex;
    justify-content: space-between;
}

.discount-logo {
    position: relative;

}

.discount-logo img {
    position: absolute;
    right: -150px;
    top: 50px;
}

.full-img-section {
    height: 800px;
}

.red-line {
    position: relative;
}

.red-line img {
    position: absolute;
    bottom: -200px;
    left: 20px;
}

.prize-section {
    width: 300px;
}

.two-img {
    display: flex;
    position: relative;
}

.holidays-sale {
    width: 1320px;
    height: 530px;
    text-align: center;
}

.holidays-sale h3 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-sale span {
    color: #f00;
    font-size: 72px;
    font-weight: 900;
}

.holidays-sale h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.holidays-sale p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
}

.girls-pic {
    position: relative;
}

.best-gifts-section h4 {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}

.best-gifts-section h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.best-gifts-section p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.gift-img {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}

.gift-img :hover {
    background-color: #f00;
    border: 20px;
    border-color: #f00;
}

.newsletter {
    text-align: center;
    width: 1320px;
    height: 610px;
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter img {
    margin-top: 80px;
}

.newsletter h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

input {
    width: 350px;
    height: 45px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding-left: 10px;
}

button {
    border-radius: 0px 50px 50px 0px;
    background: #f00;
    padding: 10px 20px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

footer {
    width: 1320px;
    height: 609px;
    background: #070211;
    color: #fff;
    margin-top: 50px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 100px 130px;
}

.footer-middle {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.footer-middle img {
    margin-right: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 100px 130px;
}